/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
}

.navbar-logo a {
  font-weight: bold;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navbar-links a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}
